/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://use.typekit.net/saa3zjh.css');

:root {
  font-size: 62.5%;
  --red1: #000000;
  --red2: #0f0f0f;
  --white: #ffffff;
  --purple: #6c44d0;
  --black: #000000;
  --bg-gradient: linear-gradient(
    109.6deg,
    rgba(43, 1, 91, 1) 13.4%,
    rgba(122, 2, 54, 1) 100.2%
  );
  --bg-gradient-inverted: linear-gradient(
    109.6deg,
    rgba(122, 2, 54, 1) 100.2%,
    rgba(43, 1, 91, 1) 13.4%
  );
  --card-gradient: linear-gradient(
    113.5deg,
    rgba(234, 234, 234, 1) 22.3%,
    rgba(201, 234, 211, 1) 56.6%,
    rgba(255, 180, 189, 1) 90.9%
  );
  --purple-gradient: radial-gradient(
    circle at 95.45% -4.17%,
    #8e4dd1 0,
    #7e48d1 25%,
    #6b43d0 50%,
    #553fcf 75%,
    #373bcf 100%
  );
  --white-gradient: radial-gradient(
    circle at 95.45% -4.17%,
    #ffffff 0,
    #ffffff 6.25%,
    #ffffff 12.5%,
    #ffffff 18.75%,
    #ffffff 25%,
    #ffffff 31.25%,
    #ffffff 37.5%,
    #ffffff 43.75%,
    #ffffff 50%,
    #fbf2f6 56.25%,
    #f7e7ef 62.5%,
    #f1ddea 68.75%,
    #ebd5e7 75%,
    #e4cee6 81.25%,
    #dcc9e6 87.5%,
    #d3c5e6 93.75%,
    #cac2e7 100%
  );
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: termina, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #333;
}

body {
  background-image: var(--bg-gradient);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 10rem;
  color: var(--white);
  margin: 0;
  font-family: termina, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 4.2rem;
  margin: 0;
  font-family: termina, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.title {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 2%;
  text-align: center;
  font-size: 2rem;
  color: var(--white);
  text-decoration: none;
}

.sam-watermark {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 2%;
  top: 2%;
  text-align: center;
  font-size: 1.5rem;
  color: var(--white);
  text-decoration: none;
}

.background-mobile-container {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.background-mobile {
  /* display: none; */
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  height: 150vw;
  -webkit-transform: translate(-25%, 25%);
  -ms-transform: translate(-25%, 25%);
  transform: translate(-25%, 25%);
  /* translate: -25% 25%; */
}

.background-desktop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.background-desktop {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  height: 80vw;
  /* translate: -20% 25%; */
}

/* HOME PAGE */

.home-container {
  background-position: 50%;
  /* background-image: url('https://res.cloudinary.com/dnrbgmcm4/image/upload/c_scale,w_2000/v1590984175/1_rxpe4i.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: var(--red1); */
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 2.5rem 12rem;
}

.home-title {
  display: flex;
  align-self: center;
  justify-self: flex-start;
  text-align: initial;
}

.home-button-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.home-box {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40rem;
  width: 30rem;
}

/* GAME PAGE */

.game-container {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--bg-gradient);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.game-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
}

.game-choice-container {
  min-width: 55vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.choice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 4rem;
}

.choice-container:hover {
  cursor: pointer;
}

.choice-prefix {
  font-size: 8rem;
  padding: 0 1rem 0 0;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px var(--white);
  text-stroke: 4px var(--white);
}

.choice-text {
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 4rem;
  padding: 0 1rem 0 1rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.choice-text:hover {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px var(--white);
  text-stroke: 4px var(--white);
}

.long-choice-text {
  font-size: 3rem;
}

.super-long-choice-text {
  font-size: 2.5rem;
  white-space: pre-wrap;
  overflow: auto;
  text-align: start;
}

.extremely-long-choice-text {
  font-size: 2rem;
  white-space: pre-wrap;
  overflow: auto;
  text-align: start;
}

.game-questions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: var(--card-gradient);
  width: 35vw;
  height: 100%;
  padding: 3rem;
}

.game-questions {
  text-align: center;
  margin: auto;
  color: var(--black);
  font-size: 2.5rem;
}

.correct {
  background-image: radial-gradient(
    circle at 95.45% -4.17%,
    #ffc912 0,
    #efce0a 6.25%,
    #dad00c 12.5%,
    #c2d017 18.75%,
    #a9cd22 25%,
    #8ec82d 31.25%,
    #70bf37 37.5%,
    #50b43f 43.75%,
    #28a745 50%,
    #00994a 56.25%,
    #008d4e 62.5%,
    #008353 68.75%,
    #007a58 75%,
    #00745e 81.25%,
    #006f64 87.5%,
    #006b6b 93.75%,
    #006a74 100%
  ) !important;
}

.incorrect {
  background-image: radial-gradient(
    circle at 95.45% -4.17%,
    #ff7733 0,
    #ff673a 12.5%,
    #fe5740 25%,
    #ee4644 37.5%,
    #dc3545 50%,
    #c92445 62.5%,
    #b71246 75%,
    #a60046 87.5%,
    #970046 100%
  ) !important;
}

/* UTILITIES */

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.container > * {
  width: 100%;
}

/* BUTTONS */
.btn {
  font-family: termina, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  padding: 2rem 4rem;
  width: 20rem;
  text-align: center;
  margin: 0;
  text-decoration: none;
  color: var(--purple);
  background-image: var(--white-gradient);
}

.btn:hover {
  cursor: pointer;
  -webkit-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  -o-transition: transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.btn-dark {
  font-family: termina, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  padding: 2rem 4rem;
  width: 20rem;
  text-align: center;
  margin: 0;
  text-decoration: none;
  color: var(--white);
  background-image: var(--purple-gradient);
  border: none;
}

.btn-dark:hover {
  cursor: pointer;
  -webkit-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  -o-transition: transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.btn-dark[disabled] {
  background-color: rgba(108, 68, 208, 0.66);
  color: rgba(256, 256, 256, 0.66);
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: none;
}

.btn-dark[disabled]:hover {
  background-color: rgba(108, 68, 208, 0.66);
  color: rgba(256, 256, 256, 0.66);
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: none;
}

.start-game-btn {
  display: inline-block;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.high-scores-btn {
  display: inline-block;
  margin-bottom: -5rem;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

/* FORMS */
form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.3rem;
  border: none;
}

input::-webkit-input-placeholder {
  color: #aaa;
}

input::-moz-placeholder {
  color: #aaa;
}

input:-ms-input-placeholder {
  color: #aaa;
}

input::-ms-input-placeholder {
  color: #aaa;
}

input::placeholder {
  color: #aaa;
}

/* HUD */

#hud {
  margin: 1rem 0 0 0;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hud-prefix {
  color: var(--white);
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

.hud-main-text {
  text-align: center;
  text-shadow: none;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid var(--white);
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: var(--white);
  width: 0%;
}

/* LOADER */

/* <div class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div> */

.fullscreen-loader-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotate(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotate(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotate(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/* SAVE SCORE PAGE */

.save-score-form-text {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px var(--white);
  text-stroke: 4px var(--white);
  text-shadow: none;
  margin: 0 0 5rem 0;
}

.save-score-container {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

/* HIGH SCORE PAGE */

.high-scores-container {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--bg-gradient);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

#highScoresList {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 90%;
}

.high-score {
  font-size: 8rem;
  line-height: 0.8;
  margin: 0 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.high-score-place {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--white);
  margin: 0 1rem 0 0;
}

.high-score-name {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--white);
  margin: 0 1rem 0 0;
}

.high-score-score {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--white);
  margin: 0 0 0 0;
}

/* DESKTOP */

@media only screen and (min-width: 601px) {
  body {
    background-color: var(--red1);
  }
}

/* MOBILE */
/* Screens with Widths 600px wide or less */

@media only screen and (max-width: 600px) {
  /* GLOBAL STYLES */

  body {
    background-color: var(--red1);
    height: 100vh;
    width: 100vw;
  }

  h1 {
    font-size: 4rem;
    line-height: 0.8;
    text-shadow: none;
    text-align: center;
  }

  a.btn {
    font-size: 1.3rem;
    padding: 1.3rem 2.6rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  a.btn-dark {
    font-size: 1.3rem;
    padding: 1.3rem 2.6rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .post-btn {
    font-size: 1.8rem !important;
    padding: 2rem 4rem !important;
  }

  .title {
    font-size: 1.5rem;
    top: 1%;
  }

  .sam-watermark {
    font-size: 1rem;
    top: 1%;
  }

  /* Backgrounds */

  .background-mobile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .background-mobile {
  }

  .background-desktop-container {
    display: none;
  }

  .background-desktop {
    display: none;
  }

  /* HOME PAGE */

  .home-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 3rem 3rem 0 3rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-image: none;
    height: 100vh;
    width: 100vw;
  }

  .home-button-column {
    width: 85vw;
  }

  .home-title {
    padding: 1vh 0 1vh 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 1rem 0 1rem 0;
  }

  .home-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .home-mobile-box {
    height: 70vh;
    width: 100%;
    background-image: var(--bg-gradient-inverted);
    z-index: -2;
  }

  .start-game-btn {
    display: inline-block;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .high-scores-btn {
    display: inline-block;
    margin-bottom: -4.8rem;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  /* GAME PAGE */

  .game-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 4rem 3rem 3rem 3rem;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
  }

  #hud {
    width: 100%;
  }

  .hud-prefix {
    margin-bottom: 0;
  }

  .hud-main-text {
    margin-top: 0.5rem;
  }

  #progressBar {
    margin-top: 1rem;
    width: 24rem;
  }

  .game-top {
    height: 80%;
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .game-questions-container {
    width: 100%;
  }

  .game-questions {
    padding: 1rem;
  }

  .long-question-text {
    font-size: 1.8rem;
  }

  .super-long-question-text {
    font-size: 1.5rem;
  }

  .extremely-long-question-text {
    font-size: 1.3rem;
  }

  .game-choice-container {
    margin-top: 1rem;
  }

  .choice-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1rem;
    height: 5rem;
    background-image: var(--card-gradient);
  }

  .choice-prefix {
    font-size: 2.3rem;
    color: rgba(0, 0, 0, 0);
    margin: 0 1rem;
    padding: 0;
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.8);
    text-stroke: 1.5px rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
  }

  h2 {
    margin: 0;
  }

  .choice-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    justify-self: center;
    justify-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: initial;
    font-size: 2rem;
    color: black;
    margin: 0 0 0 0;
    -webkit-text-stroke: unset;
    text-stroke: unset;
    padding: 0;
  }

  .choice-text:hover {
    color: black;
    stroke: none;
    -webkit-text-stroke: unset;
    text-stroke: unset;
  }

  .long-choice-text {
    font-size: 1.5rem;
  }

  .super-long-choice-text {
    font-size: 1.3rem;
  }

  .extremely-long-choice-text {
    font-size: 1rem;
  }

  .save-score-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0;
    padding: 0;
  }

  .save-score-form-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: center;
  }

  /* HIGH SCORES PAGE */

  .high-scores-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 4rem 3rem 3rem 3rem;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
  }

  #highScoresList {
    width: 100%;
  }

  .high-score {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .high-score-place {
    font-size: 5rem;
  }

  .high-score-name {
    font-size: 5rem;
    margin-right: auto;
  }

  .high-score-score {
    font-size: 5rem;
  }
}

/* Screens w/ Width 380px or smaller */

@media only screen and (max-width: 380px) {
  #progressBar {
    width: 20rem;
  }

  /* Question card/text styles */

  .game-questions-container {
    padding: 1rem;
  }

  .game-questions {
    padding: 0;
    font-size: 2.5rem;
  }

  .long-question-text {
    font-size: 1.8rem;
  }

  .super-long-question-text {
    font-size: 1.5rem;
  }

  .extremely-long-question-text {
    font-size: 1.3rem;
  }

  /* Answer card/text styles */

  .choice-prefix {
    margin: 0 0 0 1rem;
  }

  .choice-text {
    text-align: initial;
    padding: 0 1rem 0 0.5rem;
  }

  .long-choice-text {
    font-size: 1.5rem;
  }

  .super-long-choice-text {
    font-size: 1.3rem;
    white-space: pre-wrap;
    overflow: auto;
  }

  .extremely-long-choice-text {
    font-size: 1rem;
    white-space: pre-wrap;
    overflow: auto;
  }
}

/* ###################### */
/* # IPAD MEDIA QUERIES # */
/* ###################### */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* ########## */
  /* # GLOBAL # */
  /* ########## */

  * {
    /* border: 1px solid red; */
  }

  h1 {
    font-size: 5rem;
    white-space: pre;
    overflow: auto;
  }

  /* BACKGROUNDS */

  .background-mobile-container {
    display: none;
  }

  .background-mobile {
    display: none;
  }

  .background-desktop-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .background-desktop {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    height: 120vw;
    translate: -10% 0;
  }

  /* ######## */
  /* # Home # */
  /* ######## */

  .home-container {
    padding: 2rem 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .start-game-btn {
    display: inline-block;
    margin-bottom: 1rem;
  }

  .high-scores-btn {
    margin-top: 1rem;
    display: inline-block;
  }
}
